.container(ng-show="project")
    legend.colour6
        span.pull-right {{project.code}}-S{{systemTest.code}}
        h1 System Test
        h2
            span
                a(ng-href="/p/{{project.code}}") {{project.name}}
            span.padr :
            span System Test {{systemTest.code}}
            span.padr :
            span(ng-show="!edit.name")
                a.edit(
                    ng-click="showEdit(true, 'name')"
                    ng-mouseleave="hover.name = false"
                    ng-mouseover="hover.name = true"
                ) {{systemTest.name}}
            span.glyphicon.glyphicon-pencil.small(ng-show="hover.name")
            span(ng-show="edit.name")
                form(name="nameForm")
                    input.form-control(
                        name="systemTest.name"
                        ng-model="systemTest.name"
                        placeholder="Name"
                        required
                        type="text"
                    )
                    button.btn.btn-success(
                        ng-click="submitEdit('name')"
                        ng-disabled="nameForm.$invalid"
                    )
                        span.glyphicon.glyphicon-ok
                    a.btn.btn-default(ng-click="cancelEdit('name')")
                        span.glyphicon.glyphicon-remove
    nav.table
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}")
                span.glyphicon.glyphicon-th-list.padr(aria-label="List icon")
                span.small Project
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/r")
                span.glyphicon.glyphicon-gift.padr(aria-label="Gift icon")
                span.small Releases
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/f")
                span.glyphicon.glyphicon-apple.padr(aria-label="Apple icon")
                span.small Features
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/u")
                span.glyphicon.glyphicon-tree-deciduous.padr(aria-label="Tree icon")
                span.small User Stories
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/a")
                span.glyphicon.glyphicon-grain.padr(aria-label="Branch icon")
                span.small Acceptance Tests
        .col-md-2.colour6.padn
            a.box.btn.btn-block.colour6(ng-href="/p/{{project.code}}/s")
                span.glyphicon.glyphicon-leaf.padr(aria-label="Leaf icon")
                span.small System Tests
    .well
        div(ng-show="!edit.description")
            a.edit(
                ng-click="showEdit(true, 'description')"
                ng-mouseleave="hover.description = false"
                ng-mouseover="hover.description = true"
            )
                span(ng-show="systemTest.description") {{systemTest.description}}
                span.glyphicon.glyphicon-pencil.small(ng-show="hover.description")
                em(
                    ng-cloak
                    ng-show="!systemTest.description"
                ) Click to add a description
        div(ng-show="edit.description")
            form(name="descriptionForm")
                textarea.form-control(
                    name="systemTest.description"
                    ng-model="systemTest.description"
                    placeholder="Description"
                    type="text"
                )
                button.btn.btn-success(
                    ng-click="submitEdit('description')"
                    ng-disabled="descriptionForm.$invalid"
                )
                    span.glyphicon.glyphicon-ok
                a.btn.btn-default(ng-click="cancelEdit('description')")
                    span.glyphicon.glyphicon-remove
    .alert.alert-info.text-center(ng-show="!testSteps.length") No test steps found
    .table
        span
            button.box.btn.btn-success.padlr(
                data-target="#ModalAdd"
                data-toggle="modal"
                ng-click="clearTestStepSearch()"
            )
                span.glyphicon.glyphicon-plus(aria-label="Add icon")
    .row.test-step(
        ng-repeat="testStep in testSteps"
        ng-init="previousTestStep = testSteps[$index - 1]; testStepNumber = $index;"
    )
        .col-md-11
            strong.test-step-type {{$index &lt; 1 || previousTestStep.type != testStep.type ? testStep.type : 'And'}}
            span #{' '}
            span(
                ng-class="section.type"
                ng-init="id = 'testStep-' + testStepNumber + '-' + $index"
                ng-repeat="section in testStep.split"
            )
                span(ng-if="section.type != 'test-step-argument-value-not-supplied'") {{section.value}}
                a.edit(
                    ng-click="showEdit(true, id, testStepNumber, $index)"
                    ng-if="section.type == 'test-step-argument-value-not-supplied'"
                    ng-mouseleave="hover[id] = false"
                    ng-mouseover="hover[id] = true"
                )
                    span {{section.value}}
                    span.glyphicon.glyphicon-pencil.small(ng-show="hover[id]")
                span(
                    ng-if="section.type == 'test-step-argument-value-not-supplied'"
                    ng-init="argumentName = testStep.split[$index - 1].value"
                    ng-show="edit[id]"
                )
                    form(name="{{id + '-form'}}")
                        .input-group
                            span.input-group-addon {{argumentName}}
                            input.form-control(
                                name="section.value"
                                ng-model="section.value"
                                placeholder="Value"
                                type="text"
                            )
                        button.btn.btn-success(
                            ng-click="submitEdit(id, testStepNumber, $index, argumentName, section.value)"
                            ng-disabled="{{id + '-form'}}.$invalid"
                        )
                            span.glyphicon.glyphicon-ok
                        a.btn.btn-default(ng-click="cancelEdit(id, testStepNumber, $index)")
                            span.glyphicon.glyphicon-remove
        .col-md-1
            button.btn.btn-default.btn-xs(
                data-target="#ModalAdd"
                data-toggle="modal"
                ng-click="clearTestStepSearch(); setTestStepPosition($index + 1);"
            )
                span.glyphicon.glyphicon-plus(aria-label="Add icon")
    .fade.modal(
        id="ModalAdd"
        ng-show="add"
        role="dialog"
    )
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    legend.colour6
                        button.close(
                            aria-label="Close"
                            data-target="#ModalAdd"
                            data-dismiss="modal"
                            id="ModalAddCloseButton"
                            type="button"
                        )
                            span(aria-hidden="true") &times;
                        h4.h1.modal-title Test Step
                .modal-body
                    .alert.alert-danger.text-center(
                        ng-show="testStepError"
                        role="alert"
                    ) {{testStepError}}
                    .collapse(
                        aria-expanded="false"
                        id="help"
                    )
                        .row.padb
                            .col-md-12
                                legend.column1
                                    h5.h2 Placeholders
                        .row.padb
                            .col-md-12
                                p Using placeholders allows you to re-use the same steps with different values.
                        .row.padb
                            .col-md-12
                                strong Arguments
                                .test-step
                                    span.test-step-text '
                                    span.test-step-argument-value-not-supplied {argument name}
                                    span.test-step-text '
                                .test-step
                                    span e.g.#{' '}
                                    span.test-step-type When
                                    span.test-step-text #{' '}I click '
                                    span.test-step-argument-value-not-supplied {button}
                                    span.test-step-text '
                        .row.padb
                            .col-md-12
                                strong Tables
                                .test-step
                                    span.test-step-text '
                                    span.test-step-argument-value-not-supplied {|column 1 name|column 2 name|...|}
                                    span.test-step-text '
                                .test-step
                                    span e.g.#{' '}
                                    span.test-step-type When
                                    span.test-step-text #{' '}I enter the following information: '
                                    span.test-step-argument-value-not-supplied {|field|value|}
                                    span.test-step-text '
                        .row.padb
                            .col-md-12
                                legend.column1
                    .row.padb
                        form.form-horizontal(name="testStepForm")
                            .col-md-1
                                button.box.btn.padlr(
                                    ng-click="searchForTestStep()"
                                    ng-disabled="testStepForm.$invalid"
                                )
                                    span.glyphicon.glyphicon-search(aria-label="Search icon")
                            .col-md-2
                                select.form-control(
                                    name="newTestStep.type"
                                    ng-model="newTestStep.type"
                                    required
                                )
                                    option(
                                        disabled="disabled"
                                        hidden="hidden"
                                        selected="selected"
                                        value=""
                                    ) Type
                                    option(value="Given") Given
                                    option(value="When") When
                                    option(value="Then") Then
                            .col-md-9
                                .input-group
                                    input.form-control(
                                        name="newTestStep.step"
                                        ng-model="newTestStep.step"
                                        required
                                        type="text"
                                    )
                                    span.input-group-btn
                                        button.btn.btn-default(
                                            data-target="#help"
                                            data-toggle="collapse"
                                            type="button"
                                        )
                                            span.glyphicon.glyphicon-question-sign
                    .row(ng-show="searchResults")
                        .col-md-12
                            span(ng-show="searchResults.length") Results
                            span(ng-show="!searchResults.length") No results found {{searchResultsTime | date: '(HH:mm:ss)'}}
                    .row(ng-show="searchResults.length")
                        .col-md-12
                            select.form-control(
                                name="newTestStep.code"
                                ng-model="newTestStep.code"
                            )
                                option(value="") Select result...
                                option(
                                    ng-repeat="searchResult in searchResults"
                                    value="{{searchResult.code}}"
                                ) {{searchResult.type}} {{searchResult.step}}
                    .alert.alert-danger.text-center(
                        ng-show="testStepError"
                        role="alert"
                    ) {{testStepError}}
                .modal-footer
                    span.padr
                        button.btn.btn-success(
                            ng-click="addTestStep()"
                            ng-disabled="!newTestStep.code"
                        )
                            span.glyphicon.glyphicon-plus.padr
                            span Add
                    span.padr
                        button.btn.btn-success(
                            ng-click="createTestStep()"
                            ng-disabled="newTestStep.code || testStepForm.$invalid || !searchResultsTime"
                        )
                            span.glyphicon.glyphicon-ok.padr
                            span Create
                    span
                        a.btn.btn-default(
                            data-dismiss="modal"
                            data-target="#ModalAdd"
                        )
                            span.glyphicon.glyphicon-remove.padr
                            span Cancel