.container(ng-show="project")
    .colour6.pad.row
        .col-md-1
            span.h1
                a(ng-href="/p/{{project.code}}/s")
                    span.glyphicon.glyphicon-leaf
        .col-md-11
            h3.pull-right {{project.code}}-S{{systemTest.code}}
            h1
                a(ng-href="/p/{{project.code}}/s") System Test
            h2
                span(ng-show="!edit.name")
                    a.edit(
                        ng-click="showEdit(true, 'name')"
                        ng-mouseleave="hover.name = false"
                        ng-mouseover="hover.name = true"
                    ) {{systemTest.name}}
                span.glyphicon.glyphicon-pencil.small(ng-show="hover.name")
                span(ng-show="edit.name")
                    form(name="nameForm")
                        input.form-control(
                            name="systemTest.name"
                            ng-model="systemTest.name"
                            placeholder="Name"
                            required
                            type="text"
                        )
                        button.btn.btn-success(
                            ng-click="submitEdit('name')"
                            ng-disabled="nameForm.$invalid"
                        )
                            span.glyphicon.glyphicon-ok
                        a.btn.btn-default(ng-click="cancelEdit('name')")
                            span.glyphicon.glyphicon-remove
    include ../../main/views/partials/nav
    .well
        div(ng-show="!edit.description")
            a.edit(
                ng-click="showEdit(true, 'description')"
                ng-mouseleave="hover.description = false"
                ng-mouseover="hover.description = true"
            )
                span(ng-show="systemTest.description") {{systemTest.description}}
                span.glyphicon.glyphicon-pencil.small(ng-show="hover.description")
                em(
                    ng-cloak
                    ng-show="!systemTest.description"
                ) Click to add a description
        div(ng-show="edit.description")
            form(name="descriptionForm")
                textarea.form-control(
                    name="systemTest.description"
                    ng-model="systemTest.description"
                    placeholder="Description"
                    type="text"
                )
                button.btn.btn-success(
                    ng-click="submitEdit('description')"
                    ng-disabled="descriptionForm.$invalid"
                )
                    span.glyphicon.glyphicon-ok
                a.btn.btn-default(ng-click="cancelEdit('description')")
                    span.glyphicon.glyphicon-remove
    .alert.alert-info.text-center(ng-show="!testSteps.length") No test steps found
    section
        span
            button.box.btn.btn-success.padlr(
                data-target="#ModalAddTestStep"
                data-toggle="modal"
                ng-click="clearTestStepSearch(false)"
            )
                span.glyphicon.glyphicon-plus(aria-label="Add icon")
    section.test-steps(
        data-as-sortable="testStepReorderListeners"
        is-disabled="edit"
        ng-model="testSteps"
    )
        .test-step(
            data-as-sortable-item
            ng-repeat="testStep in testSteps"
            ng-class="testStep.typeHierarchy < testSteps[$index - 1].typeHierarchy ? 'padt' : ''"
        )
            .row(
                data-as-sortable-item-handle
                ng-class="edit ? '' : 'draggable'"
            )
                .col-md-1
                    button.btn.btn-default.btn-xs(
                        data-target="#ModalAddTestStep"
                        data-toggle="modal"
                        ng-click="clearTestStepSearch(true, $index);"
                    )
                        span.glyphicon.glyphicon-pencil(aria-label="Edit icon")
                .col-md-10
                    strong.test-step-type {{$index &lt; 1 || testSteps[$index - 1].type != testStep.type ? testStep.type : 'And'}}
                    span #{' '}
                    span(
                        ng-class="section.type"
                        ng-init="id = 'testStep-' + $parent.$parent.$index + '-' + $index"
                        ng-repeat="section in testStep.split"
                    )
                        span(ng-if="!section.isEditable && !section.isHidden") {{section.value}}
                        a.edit(
                            ng-click="showEdit(true, id, $parent.$parent.$index, $index)"
                            ng-if="section.isEditable"
                            ng-mouseleave="hover[id] = false"
                            ng-mouseover="hover[id] = true"
                        )
                            span {{section.value}}
                            span.glyphicon.glyphicon-pencil.small(ng-show="hover[id]")
                        span(
                            ng-if="section.isEditable && !section.isHidden"
                            ng-show="edit[id]"
                        )
                            form(name="{{id + '-form'}}")
                                .input-group
                                    span.input-group-addon {{argumentName}}
                                    input.form-control(
                                        name="section.value"
                                        ng-model="section.value"
                                        placeholder="Value"
                                        type="text"
                                    )
                                button.btn.btn-success(
                                    ng-click="submitEditForTestStep(id, $parent.$parent.$index, $index, section.field, section.value)"
                                    ng-disabled="{{id + '-form'}}.$invalid"
                                )
                                    span.glyphicon.glyphicon-ok
                                a.btn.btn-default(ng-click="cancelEdit(id, $parent.$parent.$index, $index)")
                                    span.glyphicon.glyphicon-remove
                        div(ng-if="section.isTableHeader")
                            .table
                                .table-row
                                    .table-cell(ng-repeat="column in section.value track by $index") {{column}}
                        div(
                            ng-if="section.isTableRows"
                            ng-show="!edit[id]"
                        )
                            a.edit(
                                ng-click="showEdit(true, id, $parent.$parent.$index, $index)"
                                ng-mouseleave="hover[id] = false"
                                ng-mouseover="hover[id] = true"
                            )
                                .table
                                    .table-row(
                                        ng-class="section.type"
                                        ng-repeat="row in section.valueSplit"
                                    )
                                        .test-step-argument-value-table-cell.table-cell(ng-repeat="column in row track by $index")
                                            span.test-step-argument-value-supplied {{column}}
                                                span.glyphicon.glyphicon-pencil.small(ng-show="hover[id]")
                                    .row.table-row(ng-show="!section.valueSplit.length")
                                        .centre.table-cell
                                            span.test-step-argument-value-not-supplied No values supplied
                                                span.glyphicon.glyphicon-pencil.small(ng-show="hover[id]")
                        .row(
                            ng-if="section.isTableRows"
                            ng-show="edit[id]"
                        )
                            form(name="{{id + '-form'}}")
                                textarea.form-control(
                                    name="section.value"
                                    ng-model="section.value"
                                    placeholder="Format: Column 1 Row 1|Column 1 Row 2¦Column 2 Row 1|Column 2 Row 2"
                                    type="text"
                                )
                                button.btn.btn-success(
                                    ng-click="submitEditForTestStepTable(id, $parent.$parent.$index, $index, section.field, section.value)"
                                    ng-disabled="{{id + '-form'}}.$invalid"
                                )
                                    span.glyphicon.glyphicon-ok
                                a.btn.btn-default(ng-click="cancelEdit(id, $parent.$parent.$index, $index)")
                                    span.glyphicon.glyphicon-remove
                .col-md-1
                    button.btn.btn-default.btn-xs(
                        data-target="#ModalAddTestStep"
                        data-toggle="modal"
                        ng-click="clearTestStepSearch(false, $index + 1)"
                    )
                        span.glyphicon.glyphicon-plus(aria-label="Add icon")
include partials/add-feature
include partials/add-test-step