.fade.modal(
    id="ModalExportProject"
    role="dialog"
)
    .modal-dialog.modal-lg
        .modal-content
            .colour1.modal-header
                button.close(
                    aria-label="Close"
                    data-target="#ModalExportProject"
                    data-dismiss="modal"
                    id="ModalExportProjectCloseButton"
                    type="button"
                )
                    span(aria-hidden="true") &times;
                h4.h1.modal-title
                    span.glyphicon.glyphicon-export.padr
                    span Export
            .modal-body
                .alert.alert-danger.text-center(
                    ng-show="exportProjectError"
                    role="alert"
                ) {{exportProjectError}}
                .padb.row
                    .col-md-12
                        p Export the current project to a JSON string which can be used for backup purposes.
                        p Alternatively, you can back up via the following URL:
                        a.btn.colour1(
                            ng-href="/api/projects/export/{{project.code}}"
                            target="_blank"
                        ) /api/projects/export/{{project.code}}
                .row
                    .col-md-12
                        textarea.form-control(
                            id="ExportedTextArea"
                            ng-disabled="!exported"
                            ng-model="exported"
                            rows="10"
                        )
                .alert.alert-danger.text-center(
                    ng-show="exportProjectError"
                    role="alert"
                ) {{exportProjectError}}
            .modal-footer
                span.padr(ng-show="!exported.length")
                    button.btn.btn-success(ng-click="exportProject()")
                        span.glyphicon.glyphicon-ok.padr
                        span Export
                span
                    a.btn.btn-default(
                        data-dismiss="modal"
                        data-target="#ModalExportProject"
                    )
                        span.glyphicon.glyphicon-remove.padr
                        span Close