.fade.modal(
    id="ModalImportProject"
    role="dialog"
)
    .modal-dialog.modal-lg
        .modal-content
            .colour1.modal-header
                button.close(
                    aria-label="Close"
                    data-target="#ModalImportProject"
                    data-dismiss="modal"
                    id="ModalImportProjectCloseButton"
                    type="button"
                )
                    span(aria-hidden="true") &times;
                h4.h1.modal-title
                    span.glyphicon.glyphicon-import.padr
                    span Import
            .modal-body
                .alert.alert-danger.text-center(
                    ng-show="importProjectError"
                    role="alert"
                ) {{importProjectError}}
                .padb.row
                    .col-xs-12
                        p Import a new project or update an existing one by entering the contents of a JSON backup into the text area below.
                        p
                            strong Warning: If you import an existing project, this will overwrite any content already stored for that project. Please make a backup first.
                        p To make a backup for a project, close this dialog. Select the project from the list, then click on the 'Export' option displayed on the navigation bar.
                .row
                    .col-xs-12
                        textarea.form-control(
                            id="ImportedTextArea"
                            ng-model="imported"
                            rows="10"
                        )
                .alert.alert-danger.text-center(
                    ng-show="importProjectError"
                    role="alert"
                ) {{importProjectError}}
            .modal-footer
                span.padr(ng-show="imported.length")
                    button.btn.btn-success(ng-click="importProject()")
                        span.glyphicon.glyphicon-ok.padr
                        span Import
                span
                    a.btn.btn-default(
                        data-dismiss="modal"
                        data-target="#ModalImportProject"
                    )
                        span.glyphicon.glyphicon-remove.padr
                        span Close