li
    a.h1(href="/p")
        span.glyphicon.glyphicon-th-list
li
    h1
        a(href="/p") Project
li(ng-if="project")
    h3 {{project.code}}
li.padl(ng-if="project")
    button.button-as-text(
        data-target="#ModalExportProject"
        data-toggle="modal"
        ng-click="exported = null"
        type="button"
    )
        span.glyphicon.glyphicon-export.padr
        span Export
li.padl(ng-if="!project")
    a(href="/c/p")
        span.glyphicon.glyphicon-plus.padr
        span Create
li.padl(ng-if="projects")
    button.button-as-text(
        data-target="#ModalImportProject"
        data-toggle="modal"
        ng-click="imported = null"
        type="button"
    )
        span.glyphicon.glyphicon-import.padr
        span Import