.navbar-right(ng-controller="ctrlNavBarLogin")
    form.navbar-form(
        ng-hide="identity.isAuthenticated()"
        name="loginForm"
    )
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(
                data-toggle="dropdown"
                href=""
            )
                | {{identity.currentUser.firstname + " " + identity.currentUser.lastname}}
                b.caret
            ul.dropdown-menu
                li
                    a(
                        href=""
                        ng-click="logout()"
                    ) Log out