.container(ng-controller="ctrlNavBarLogin")
    .jumbotron
        h1 SpecSaver
        p Test some of the things
        form.navbar-form.padt(
            ng-hide="identity.isAuthenticated()"
            name="loginForm"
        )
            .padb
                .form-group
                    .input-group
                        span.input-group-addon
                            span.glyphicon.glyphicon-user
                        input.form-control(
                            ng-model="username"
                            placeholder="username"
                            required
                        )
            .padb
                .form-group
                    .input-group
                        span.input-group-addon
                            span.glyphicon.glyphicon-lock
                        input.form-control(
                            ng-model="password"
                            placeholder="password"
                            required
                            type="password"
                        )
            .padb
                button.btn.btn-success(
                    ng-click="login(username, password)"
                    ng-disabled="loginForm.$invalid"
                )
                    span.glyphicon.padr(ng-class="loginForm.$invalid ? 'glyphicon-asterisk' : 'glyphicon-ok'")
                    span Log in
        a.btn.colour1(
            href="/p"
            ng-show="identity.isAuthenticated()"
        )
            span.glyphicon.glyphicon-th-list.padr
            span Projects