.fade.modal(
    id="ModalAddStep"
    role="dialog"
)
    .modal-dialog.modal-lg
        .modal-content
            .colour6.modal-header
                button.close(
                    aria-label="Close"
                    data-target="#ModalAddStep"
                    data-dismiss="modal"
                    id="ModalAddStepCloseButton"
                    type="button"
                )
                    span(aria-hidden="true") &times;
                h4.h1.modal-title
                    span.glyphicon.glyphicon-leaf.padr
                    span Test Step
            .modal-body
                .alert.alert-danger.text-center(
                    ng-show="stepError"
                    role="alert"
                ) {{stepError}}
                .collapse(
                    aria-expanded="false"
                    id="help"
                )
                    .row.padb
                        .col-md-12
                            h5.h2 Placeholders
                    .row.padb
                        .col-md-12
                            p Using placeholders allows you to re-use the same steps with different values.
                    .row.padb
                        .col-md-12
                            strong Text
                            p Allows single-line text. The argument should be surrounded in quotes.
                            .step
                                span.step-text '
                                span.step-argument-value-not-supplied {argument name}
                                span.step-text '
                            .step
                                span e.g.#{' '}
                                span.step-type When
                                span.step-text #{' '}I click '
                                span.step-argument-value-not-supplied {button}
                                span.step-text '
                    .row.padb
                        .col-md-12
                            strong Multi-line Text
                            p Allows text to be spread out over multiple lines. The argument must be at the very end of the step and must not be surrounded in quotes.
                            .step
                                span.step-argument-value-not-supplied {argument name}
                            .step
                                span e.g.#{' '}
                                span.step-type Then
                                span.step-text #{' '}the following message is displayed:
                                span.step-text #{' '}
                                span.step-argument-value-not-supplied {text}
                    .row.padb
                        .col-md-12
                            strong Tables
                            p Allows data to be displayed in rows and columns. The column headers are supplied in the argument.
                            .step
                                span.step-argument-value-not-supplied {|column 1 name|column 2 name|...|}
                            .step
                                span e.g.#{' '}
                                span.step-type When
                                span.step-text #{' '}I enter the following information:
                                span.step-text #{' '}
                                span.step-argument-value-not-supplied {|field|value|}
                .row.padb
                    form.form-horizontal(name="stepForm")
                        .col-md-1
                            button.box.btn.padlr(
                                ng-click="searchForStep()"
                                ng-disabled="stepForm.$invalid"
                            )
                                span.glyphicon.glyphicon-search(aria-label="Search icon")
                        .col-md-2
                            select.form-control(
                                name="newStep.type"
                                ng-change="clearStepResults()"
                                ng-model="newStep.type"
                                required
                            )
                                option(
                                    disabled="disabled"
                                    hidden="hidden"
                                    selected="selected"
                                    value=""
                                ) Type
                                option(value="Given") Given
                                option(value="When") When
                                option(value="Then") Then
                        .col-md-9
                            .input-group
                                input.form-control(
                                    name="newStep.step"
                                    ng-change="clearStepResults()"
                                    ng-model="newStep.step"
                                    required
                                    type="text"
                                )
                                span.input-group-btn
                                    button.btn.btn-danger(
                                        data-target="#help"
                                        data-toggle="collapse"
                                        type="button"
                                    )
                                        span.glyphicon.glyphicon-question-sign
                .row(ng-show="stepResults")
                    .col-md-12
                        span(ng-show="stepResults.length") Search results
                        span(ng-show="!stepResults.length && stepResultsTime") No test steps found {{stepResultsTime | date: '(HH:mm:ss)'}}
                .row(ng-show="stepResults.length")
                    .col-md-12
                        select.form-control(
                            name="newStep.code"
                            ng-model="newStep.code"
                        )
                            option(value="") Select result...
                            option(class="i" value="-1") Create new test step: {{newStep.type}} {{newStep.step}}
                            option(
                                ng-repeat="result in stepResults"
                                value="{{result.code}}"
                            ) {{result.type}} {{result.step}}
                .alert.alert-danger.text-center(
                    ng-show="stepError"
                    role="alert"
                ) {{stepError}}
            .modal-footer
                span.padr
                    button.btn.btn-success(
                        ng-click="addStep()"
                        ng-show="!stepForm.$invalid && newStep.code && newStep.code >= 0"
                    )
                        span.glyphicon.glyphicon-ok.padr
                        span(ng-bind="newStep.isEdit ? 'Update' : 'Add'")
                span.padr
                    button.btn.btn-success(
                        ng-click="createStep()"
                        ng-show="!stepForm.$invalid && newStep.code && newStep.code < 0"
                    )
                        span.glyphicon.glyphicon-plus.padr
                        span Create
                span
                    a.btn.btn-default(
                        data-dismiss="modal"
                        data-target="#ModalAddStep"
                    )
                        span.glyphicon.glyphicon-remove.padr
                        span Cancel