.fade.modal(
    id="ModalImportStep"
    role="dialog"
)
    .modal-dialog.modal-lg
        .modal-content
            .colour6.modal-header
                button.close(
                    aria-label="Close"
                    data-target="#ModalImportStep"
                    data-dismiss="modal"
                    id="ModalImportStepCloseButton"
                    type="button"
                )
                    span(aria-hidden="true") &times;
                h4.h1.modal-title
                    span.glyphicon.glyphicon-import.padr
                    span Import
            .modal-body
                .alert.alert-danger.text-center(
                    ng-show="importStepError"
                    role="alert"
                ) {{importStepError}}
                .padb.row
                    .col-md-12
                        p Import SpecFlow steps by entering the generated JSON into the text area below.
                        p In Windows, this can be found in the following directory after opening your project in Visual Studio with the SpecFlow extension enabled:
                        p.mono.padl %TEMPDATA%\specflow-sitemap-[...].cache
                        p
                            strong Warning: It is good practice to make a backup before proceeding.
                        p To make a backup of the project, close this dialog. Go to the View Project page, then click on the 'Export' option displayed on the navigation bar.
                .row
                    .col-md-12
                        textarea.form-control(
                            id="ImportedTextArea"
                            ng-model="imported"
                            rows="10"
                        )
                .alert.alert-danger.text-center(
                    ng-show="importStepError"
                    role="alert"
                ) {{importStepError}}
            .modal-footer
                span.padr(ng-show="imported.length")
                    button.btn.btn-success(ng-click="importStep()")
                        span.glyphicon.glyphicon-ok.padr
                        span Import
                span
                    a.btn.btn-default(
                        data-dismiss="modal"
                        data-target="#ModalImportStep"
                    )
                        span.glyphicon.glyphicon-remove.padr
                        span Close